my-header {
    @keyframes slideIn {
        0% {
            -webkit-transform: translate3d(0, -70%, 0);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
    .search-suggestions {
        animation-name: slideIn;
        animation-duration: 0.3s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        padding-bottom: 1000px;
        font-family: Monserrat Bold;
    }
    #searchbar {
        animation-name: slideIn;
        animation-duration: 0.3s;
    }
    .map-suggestion {
        img {
            object-fit: cover;
            width: 50px;
            height: 36px;
            display: inline-block;
        }
        .text-wrapper {
            display: inline-block;
            padding-left: 10px;
            .name {
                font-family: Fortnite;
                text-transform: uppercase;
                font-size: 25px;
            }
            .desc-text {
                margin-top: -1px;
                font-size: 12px;
                font-weight: 300px;
                color: grey;
            }
        }
    }
    .title-text {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding-top: 18px;
        padding-right: 10px;
        text-align: center;
        font-size: 27px !important;
        font-family: Fortnite;
        letter-spacing: 1px !important;
    }
    ion-item.history {
        background-color: transparent !important;
    }
    ion-item.suggestion {
        background-color: transparent !important;
    }
    ion-item.map-suggestion {
        background-color: transparent !important;
    }
    input.searchbar-input {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        background-color: rgb(250, 250, 250) !important;
    }
}