my-header {
    @keyframes slideIn {
        0% {
            -webkit-transform: translate3d(0, -70%, 0);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
    .search-suggestions {
        animation-name: slideIn;
        animation-duration: 0.3s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        padding-bottom: 1000px;
        font-family: Monserrat Bold;
    }
    #searchbar {
        animation-name: slideIn;
        animation-duration: 0.3s;
    }
    ion-item.history {
        background-color: transparent !important;
    }
    ion-item.suggestion {
        background-color: transparent !important;
    }
    input.searchbar-input {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        background-color: rgb(250, 250, 250) !important;
    }
}