<!-- Generated template for the MapCarouselComponent component -->
<div class='wrapper'>
    <div class='slider'>
        <div class='slide-e'></div>
        <div *ngFor='let map of mapList' class='slide' (click)="mapClicked(map)">
            <div class='relative'>
                <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.imgs[0]" [scrollObservable]="loadAndScroll" offset="2000" />
                <ion-icon *ngIf="map.imgs.length > 1" class='abs-icon' name="images"></ion-icon>
            </div>
            <div class="name" text-wrap>{{map.name}}</div>
            <div class='creator'>{{map.creator}}</div>
        </div>
    </div>
</div>