map-item {
    .relative {
        position: relative;
    }
    .abs-icon {
        color: #ffffff;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .big-item {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        background-color: white;
        border-bottom: 1px solid map-get($colors, accent-color);
        ;
        .big-img {
            padding: 10px;
            padding-top: 20px;
            border-radius: 5px;
        }
        .text-wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
        .title {
            padding-top: 3px;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: Fortnite;
        }
        .creator {
            margin-top: -4px;
            padding-top: 0px;
            font-size: 15px;
            color: darkgray;
            padding-left: 1px;
            font-family: Monserrat Bold;
        }
        .desc {
            font-size: 13.5px;
            padding-top: 6px;
            padding-bottom: 10px;
            font-family: Open Sans;
        }
        .code {
            font-size: 23px;
            font-weight: bold;
            padding-bottom: 4px;
            color: map-get($colors, primary);
            font-family: Fortnite;
        }
    }
    ion-item {
        .img {
            width: 100%;
            max-height: 100%;
            height: inherit !important;
            border-radius: 4px;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            font-family: Fortnite;
            text-transform: uppercase;
        }
        .author {
            font-size: 12px;
            padding-top: 2px;
            color: darkgray;
            font-family: Monserrat Bold;
        }
        .desc {
            padding-top: 5px;
            font-size: 12.25px;
            font-weight: 500;
            font-family: Open Sans;
        }
        .type-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .type {
            padding: 4px;
            margin-right: 4px;
            margin-top: 5px;
            align-items: flex-start;
            font-size: 13px;
            background-color: map-get($colors, accent-color);
            border-radius: 2px;
            font-family: Monserrat Bold;
        }
        .code {
            padding-top: 5px;
            font-size: 20px;
            font-weight: bold;
            color: map-get($colors, primary);
            font-family: Fortnite;
        }
    }
    .collection {
        background-color: map-get($colors, fg-color);
        padding-top: 15px;
        .title {
            font-size: 28px;
            font-weight: bold;
            padding-bottom: 3px;
            padding-left: 25px;
            font-family: Fortnite;
            text-transform: uppercase;
        }
        .desc {
            font-size: 14px;
            font-family: Open Sans;
            padding-bottom: 8px;
            padding-left: 25px;
        }
        .c-slider {
            padding-top: 10px;
            width: 100%;
            display: flex;
            overflow-x: auto;
            padding-bottom: 15px;
        }
        .c-slide-e {
            width: 25px;
            flex-shrink: 0;
            height: 100%;
        }
        .c-slide {
            padding-right: 10px;
            width: 45%;
            flex-shrink: 0;
            height: 100%;
            .img {
                border-radius: 3px;
            }
            .name {
                padding-top: 3px;
                font-size: 22px;
                font-weight: bold;
                font-family: Fortnite;
                text-transform: uppercase;
            }
            .creator {
                color: #6d6d6d;
                font-size: 12px;
                font-family: Monserrat Bold;
            }
        }
        .line-bottom {
            border-bottom: 1px solid map-get($colors, accent-color);
            ;
            margin-left: 15px;
        }
    }
}