<!--
  Generated template for the MyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar primary>
        <button *ngIf="!toggled" ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
        <!-- Title -->
        <div *ngIf='!toggled'>
            <img src="/assets/imgs/header-logo-d.png" width="180px" style="display:inline-block" height="40px" />
        </div>
        <!-- Search Bar -->
        <ion-searchbar #searchbar *ngIf="toggled" placeholder="Search Creative Finder" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch();" (ionBlur)="searchBlurred();" (search)="searchQuery($event)"></ion-searchbar>
        <!-- Search Icon -->
        <ion-buttons end *ngIf="!toggled">
            <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
            <button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class='content dark-bg'>
    <div *ngIf='maps'>
        <div class='no-maps-msg' *ngIf='maps?.length <= 0'>
            Find maps you like?<br> <b>Bookmark</b> maps to save them for later
        </div>

        <ion-list class='maps-list'>
            <ion-item-sliding *ngFor='let map of maps'>

                <ion-item-options side="left">
                    <button ion-button icon-start color="danger" (click)="delete(map)">
                    <ion-icon name='trash'></ion-icon> 
                    Delete
                </button>
                </ion-item-options>

                <ion-item (click)="mapClicked(map, 'True')">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-5>
                                <div class='relative'>
                                    <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="http://cgrob10.pythonanywhere.com/static/template-img.jpg" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
                                    <ion-icon *ngIf="map.imgs?.length > 1" class='abs-icon' name="images"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col col-7>
                                <div class="title" text-wrap>{{ map.name }}</div>
                                <div class="author">{{ map.creator }}</div>
                                <div class="type"> {{ map.types[0] }}</div>
                                <div class="code">{{ map.code }}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>

            </ion-item-sliding>
        </ion-list>

        <div class='del-inst' *ngIf="maps?.length > 0">
            Swipe maps right to delete them
        </div>
    </div>

    <ion-spinner name="crescent" *ngIf="!maps"></ion-spinner>
</ion-content>