page-my-list {
    ion-spinner {
        display: block;
        margin: auto;
        padding-top: 200px;
    }
    .content {
        background-color: #F5F5F5;
    }
    .title-text {
        display: block;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1.5px;
        overflow: hidden;
    }
    .no-maps-msg {
        line-height: 25px;
        padding-top: 4vh;
        text-align: center;
        color: #555555;
    }
    .del-inst {
        text-align: center;
        color: #555555;
        font-size: 13px;
        padding-bottom: 10px;
    }
    .maps-msg {
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 10px;
        font-weight: bold
    }
    .maps-list {
        .relative {
            position: relative;
        }
        .abs-icon {
            color: #ffffff;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .img {
            width: 100%;
            max-height: 100%;
            height: inherit !important;
            border-radius: 7px;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .author {
            font-size: 12px;
            padding-top: 2px;
            color: darkgray;
        }
        .desc {
            font-size: 13px;
        }
        .type {
            padding: 4px;
            margin-top: 5px;
            display: inline-block;
            font-size: 13px;
            background-color: lightgray;
            border-radius: 2px;
        }
        .code {
            padding-top: 5px;
            font-size: 15px;
            font-weight: bold;
            color: map-get($colors, primary);
        }
    }
}