<ion-header>
    <my-header></my-header>
</ion-header>


<ion-content class='content dark-bg'>
    <div class='error-loading' *ngIf='errorLoading'>
        <ion-icon name="alert" color='error-color'></ion-icon>
        <div class='error-text'>Could not load, check your connection and try again later.</div>
    </div>

    <ion-refresher *ngIf='(featured && recommended) || errorLoading' (ionRefresh)="refresh($event)" spinner="none">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner name="crescent" *ngIf="(!featured || !recommended) && !errorLoading"></ion-spinner>

    <div class="featured-wrapper " *ngIf='featured && recommended && !errorLoading'>
        <div class='trending' (click)="mapClicked(featured[0])">
            <div class='text-wrapper'>
                <div class='relative'>
                    <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="featured[0].img" [scrollObservable]="content.ionScroll" offset="1000" />
                    <ion-icon *ngIf="featured[0].imgs.length > 1" class='abs-icon' name="images"></ion-icon>
                </div>
                <div class='trending-text'>
                    <ion-icon name="flame"></ion-icon> Trending</div>
                <ion-row class='title-row'>
                    <ion-col col-8>
                        <div class='title'>{{ featured[0].name }}</div>
                    </ion-col>
                    <ion-col col-4>
                        <div class='type'> {{ featured[0].types[0] }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="author">{{ featured[0].creator }}</div>
                        <div class="desc">{{ featured[0].desc }}</div>
                        <div class="code">{{ featured[0].code }}</div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <!-- app list-->
        <div class='maps-list-home dark-bg' *ngIf='isApp && !errorLoading'>
            <map-item [map]="map" [content]='content' [aSource]="Home" *ngFor="let map of recommended"></map-item>
        </div>
    </div>


</ion-content>