<!--
  Generated template for the MapDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Details</ion-title>
        <ion-buttons end *ngIf="!toggled">

            <button ion-button icon-only (click)="save()" *ngIf='!saved'>
                <ion-icon name="bookmark"></ion-icon>
            </button>
            <button ion-button icon-only (click)="unsave()" *ngIf='saved'>
                <ion-icon name="ios-bookmark-outline"></ion-icon>
            </button>
            <button ion-button icon-only (click)="showPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content class='content light-dark-bg'>
    <!-- Loading Indicator -->
    <ion-spinner name="crescent" *ngIf="(!otherMaps || !relatedMaps) && !errorLoading"></ion-spinner>

    <!-- Page content -->
    <div *ngIf='(otherMaps && relatedMaps) && !errorLoading'>
        <!-- Main map details-->
        <div class='main-details'>

            <ion-slides *ngIf="map.imgs?.length > 1" class='i-slider' slidesPerView="1.15" spaceBetween="7">
                <ion-slide class='i-slide' *ngFor='let img of map.imgs; let i = index'>
                    <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="img" [scrollObservable]="loadAndScroll" offset="2000" />
                    <div class='progress'>
                        <ion-icon name="image"></ion-icon>
                        <div class='p-text'>{{i + 1}}/{{map.imgs.length}}</div>
                    </div>
                </ion-slide>
            </ion-slides>
            <div *ngIf="map.imgs?.length == 1">
                <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.imgs[0]" [scrollObservable]="loadAndScroll" offset="2000" />
            </div>
            <img *ngIf="map.imgs == undefined" class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
            <div class='custom-padding'>
                <div class='name'>{{ map.name }}</div>
                <div class='creator'>By {{ map.creator }}</div>
                <div class='desc'>{{ map.desc }}</div>
                <div class='type-wrapper'>
                    <div class="type" *ngFor='let type of map.types'> {{ type }}</div>
                </div>
                <div class='code-wrapper'>
                    <div class='code-bg' (click)='visitMapLink()'>
                        Island Code
                        <div class='code'>{{ map.code }}</div>
                        <a class='code-link' href="https://epicgames.com/fn/{{ map.code }}">(Press to visit official site)</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- other creations by creator -->
        <div *ngIf='!errorLoading' class='custom-padding'>
            <div class='other-creations'>Other creations by <b>{{ map.creator }}</b></div>

            <ion-item no-lines class='no-results' *ngIf="otherMaps?.length == 0">
                No creations found
            </ion-item>

            <ion-list class='maps-list'>
                <ion-item no-padding (click)="mapClicked(map, 'True')" *ngFor="let map of otherMaps">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-5>
                                <div class='relative'>
                                    <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
                                    <ion-icon *ngIf="map.imgs.length > 1" class='abs-icon' name="images"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col col-7>
                                <div class="title" text-wrap>{{ map.name }}</div>
                                <div class="author">{{ map.creator }}</div>
                                <div class="type"> {{ map.types[0] }}</div>
                                <div class="code">{{ map.code }}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </div>

        <!-- maps related to map -->
        <div *ngIf='!errorLoading' class='custom-padding'>
            <div class='other-creations'>Related maps</div>

            <ion-item no-lines class='no-results' *ngIf="relatedMaps?.length == 0">
                No creations found
            </ion-item>

            <ion-list class='maps-list'>
                <ion-item no-padding (click)="mapClicked(map, 'True')" *ngFor="let map of relatedMaps">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-5>
                                <div class='relative'><img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
                                    <ion-icon *ngIf="map.imgs.length > 1" class='abs-icon' name="images"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col col-7>
                                <div class="title" text-wrap>{{ map.name }}</div>
                                <div class="author">{{ map.creator }}</div>
                                <div class="type"> {{ map.types[0] }}</div>
                                <div class="code">{{ map.code }}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </div>

    </div>

    <div class='error-loading' *ngIf='errorLoading'>
        <ion-icon name="alert" color='error-color'></ion-icon>
        <div class='error-text'>Could not load, check your connection and try again later.</div>
    </div>
</ion-content>