page-map-details {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .content {
        background-color: map-get($colors, bg-color);
    }
    .custom-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    ion-spinner {
        display: block;
        margin: auto;
        padding-top: 200px;
    }
    .main-details {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 10px;
        box-shadow: 2px 2px 10px 0px rgba(196, 196, 196, 0.7) !important;
        .i-slide {
            position: relative;
        }
        .progress {
            font-size: 13px;
            background-color: map-get($colors, fg-color);
            position: absolute;
            right: 5px;
            bottom: 15px;
            padding: 5px;
            display: inline-block;
            border-radius: 5px;
            .p-text {
                padding-left: 3px;
                display: inline-block;
            }
        }
        img {
            padding-bottom: 5px;
            width: 100%;
        }
        .name {
            padding-top: 5px;
            font-size: 39px;
            font-weight: bold;
            font-family: Fortnite;
            text-transform: uppercase;
        }
        .desc {
            font-size: 13px;
            padding-top: 5px;
            padding-bottom: 0px;
            font-family: Open Sans;
            color: #222222;
        }
        .creator {
            padding-top: 0px;
            font-size: 16px;
            color: rgb(29, 29, 29);
            font-family: Monserrat Bold;
            text-transform: uppercase;
            .creator-name {
                color: map-get($colors, primary)
            }
        }
        .type-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .type {
            padding: 6px;
            margin-right: 4px;
            margin-top: 10px;
            align-items: flex-start;
            font-size: 13px;
            border: 1px solid map-get($colors, accent-color);
            color: #5f5f5f;
            border-radius: 11px;
            font-family: Monserrat Bold;
        }
    }
    .code-card {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: map-get($colors, primary);
        padding: 10px;
        border-radius: 15px;
        color: white;
        animation-name: fadeIn;
        animation-duration: 0.6s;
        .code {
            padding-top: 5px;
            margin-bottom: -4px;
            font-size: 15vw;
            font-family: Fortnite;
        }
        .code-link {
            color: rgb(230, 173, 173);
            text-decoration: none;
            font-size: 13px;
        }
    }
    .extra-maps-card {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgb(206, 206, 206) !important;
        map-carousel {
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
        }
        .video-container {
            position: relative;
            .video-thumbnail {
                filter: brightness(79%);
            }
            .play_button {
                position: absolute;
                width: 80px;
                height: 80px;
                left: 50%;
                top: 50%;
                margin-left: -40px;
                /*half of the width */
                margin-top: -40px;
                /*half of the height */
            }
        }
    }
    .other-maps-header {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        border-bottom: 1px solid map-get($colors, accent-color);
        margin-top: 10px;
        margin-bottom: 1px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: Open Sans;
        color: #3a3a3a
    }
    .no-results {
        background-color: map-get($colors, fg-color);
        font-size: 14px;
        padding-left: 25px;
    }
    .error-loading {
        padding-top: 50%;
        text-align: center;
        .error-text {
            font-size: 17px;
            padding-bottom: 8px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}