<!--
  Generated template for the MapDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{map.name}}</ion-title>
        <ion-buttons end *ngIf="!toggled">

            <button ion-button icon-only (click)="save()" *ngIf='!saved'>
                <ion-icon name="bookmark"></ion-icon>
            </button>
            <button ion-button icon-only (click)="unsave()" *ngIf='saved'>
                <ion-icon name="ios-bookmark-outline"></ion-icon>
            </button>
            <button ion-button icon-only (click)="showPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content class='content dark-bg'>
    <!-- Loading Indicator -->
    <ion-spinner name="crescent" *ngIf="(!otherMaps || !relatedMaps) && !errorLoading"></ion-spinner>

    <!-- Page content -->
    <div *ngIf='(otherMaps && relatedMaps) && !errorLoading'>
        <!-- Main map details-->
        <div class='main-details'>

            <ion-slides *ngIf="map.imgs?.length > 1" class='i-slider' slidesPerView="1.15" spaceBetween="7">
                <ion-slide class='i-slide' *ngFor='let img of map.imgs; let i = index'>
                    <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="img" [scrollObservable]="loadAndScroll" offset="2000" />
                    <div class='progress'>
                        <ion-icon name="image"></ion-icon>
                        <div class='p-text'>{{i + 1}}/{{map.imgs.length}}</div>
                    </div>
                </ion-slide>
            </ion-slides>
            <div *ngIf="map.imgs?.length == 1">
                <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.imgs[0]" [scrollObservable]="loadAndScroll" offset="2000" />
            </div>
            <img *ngIf="map.imgs == undefined" class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
            <div class='custom-padding'>
                <div class='name'>{{ map.name }}</div>
                <div class='creator'>By <span class='creator-name' (click)='openCreator(map.creator)'>{{ map.creator }}</span></div>
                <div class='desc'>{{ map.desc }}</div>
                <div class='type-wrapper'>
                    <div class="type" *ngFor='let type of map.types'> {{ type }}</div>
                </div>
                <div class='code-wrapper'>
                </div>
            </div>
        </div>

        <ion-card class='code-card' (click)='visitMapLink()'>
            Island Code
            <div class='code'>{{ map.code }}</div>
            <a class='code-link' href="https://epicgames.com/fn/{{ map.code }}">(Press to visit official site)</a>
        </ion-card>

        <!-- video -->
        <ion-card class='extra-maps-card' *ngIf='!errorLoading && map.video?.type=="youtube"' (click)='openYTVideo(map.video.id)'>
            <div class='other-maps-header custom-padding'>Video</div>
            <div class='video-container'>
                <img class='video-thumbnail' src='https://img.youtube.com/vi/{{map.video.id}}/mqdefault.jpg'>
                <img class='play_button' src="/assets/imgs/play_button.png">
            </div>
        </ion-card>

        <!-- other creations by creator -->
        <ion-card class='extra-maps-card' *ngIf='!errorLoading && otherMaps?.length > 0 && !fromCreatorPage'>
            <div class='other-maps-header custom-padding' (click)='openCreator(map.creator)'>Other Creations by <b>{{ map.creator.toUpperCase()}}</b></div>
            <map-carousel [maps]='otherMaps' [fromCreatorPage]='fromCreatorPage'></map-carousel>
        </ion-card>

        <!-- maps related to map -->
        <ion-card class='extra-maps-card' *ngIf='!errorLoading && relatedMaps?.length > 0 && !fromCreatorPage'>
            <div class='other-maps-header custom-padding'>Similar Maps</div>
            <map-carousel [maps]='relatedMaps' [fromCreatorPage]='fromCreatorPage'></map-carousel>
        </ion-card>
    </div>


    <div class='error-loading' *ngIf='errorLoading'>
        <div class='error-text'>Could not load, check your connection and try again</div>
        <button ion-button round outline (click)='tryAgain()'>Try Again</button>
    </div>
</ion-content>