<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Submit a Map</ion-title>
    </ion-navbar>
    <div class='error-toolbar' *ngIf='showErrorHeader' [@slideInOut]>
        <div class='error-text'>{{ errorHeaderText }}</div>
    </div>
</ion-header>

<ion-content class='content dark-bg'>
    <div class='page-1' *ngIf='currPage == 0'>
        <div class='info-container'>
            <div class='info-1'>
                Have a map to add?
            </div>
            <div class='info-2'>
                Enter the code below to begin
            </div>
        </div>
        <div class='code-invalid-text' *ngIf="codeSubmitAttempted">{{ errorCode }}</div>
        <ion-item class='code-item'>
            <ion-input [(ngModel)]='code' (ionChange)='updatedCode($event)' [formControl]="codeFormControl" class='code-input' type="tel" maxlength="14" placeholder="0000-0000-0000" [class.invalid]="codeSubmitAttempted"></ion-input>
        </ion-item>
        <div class='centered'>
            <button ion-button round block (click)="submitCode()">Next</button>
        </div>
    </div>

    <div class='page-2' *ngIf='currPage == 1'>
        <div class='map-info light-dark-bg'>
            <div class='name'>{{ mapData.title }}</div>
            <div class='creator'>By <span class='creator-name'>{{ mapData.creator }}</span></div>
            <div class='desc'>{{ mapData.desc }}</div>
        </div>

        <div class='category-selector card light-dark-bg'>
            <div class='title'>Categories</div>
            <div class="type-wrapper">
                <div class='type-list' *ngIf="addedTypes.length > 0">
                    <div class='type' *ngFor='let type of addedTypes'>
                        {{type}}
                        <ion-icon name='close' (click)='removeType(type)'></ion-icon>
                    </div>

                </div>
                <div class='add-type' (click)="presentPopover()">
                    Add Category
                    <ion-icon name='add'></ion-icon>
                </div>
            </div>

        </div>
        <!---
        <div class='email card'>
            <div class='title'>Contact (Optional)</div>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>
            <div class='email-msg'>
                Get a notification when the map is added
            </div>
        </div>
        -->
        <div class='media card light-dark-bg'>
            <div class='title images-title-wrapper'>
                <div class='images-title'>Images</div>
                <div class='images-reorder' (click)='startImageReorder()' *ngIf='!imageReorder'>
                    <ion-icon name='shuffle'></ion-icon>
                    <span>Reorder</span>
                </div>
                <div class='images-reorder done' (click)='startImageReorder()' *ngIf='imageReorder'>
                    <ion-icon name='checkmark'></ion-icon>
                    <span>Done</span>
                </div>
            </div>
            <div class='media-wrapper'>
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor='let img of images; let i = index' class='image-wrapper' col-6>
                            <div class='image-container'>
                                <div class='image-cover' *ngIf='imageReorder' (click)='editImageOrder(i)'></div>
                                <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="assets/imgs/error-image.png" [lazyLoad]="img.url" [scrollObservable]="content.ionScroll" offset="1000" imageViewer/>
                            </div>
                            <div class='delete' *ngIf='!imageReorder'>
                                <ion-icon name="close" (click)='removeImage(img.url)'></ion-icon>
                            </div>
                            <div class='order' *ngIf='!imageReorder'>
                                <div class='number'>{{ img.order + 1 }}</div>
                            </div>
                            <div class='order-temp empty' *ngIf='imageReorder && newImageOrder[i] == -1' (click)='editImageOrder(i)'>
                            </div>
                            <div class='order-temp full' *ngIf='imageReorder && newImageOrder[i] != -1' (click)='editImageOrder(i)'>
                                <div class='number'>{{ newImageOrder[i] + 1}}</div>
                            </div>
                        </ion-col>
                        <ion-col class='image-wrapper' col-6>
                            <div class='image' (click)="chooseImageAction()" *ngIf='!imageReorder'>
                                <ion-icon name='add'></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <!--
        <div class='video card'>
            <div class='title'>Video</div>
            <span>NOT YET IMPLEMENTED</span>
        </div>
        -->
        <button ion-button round block (click)="submitMapData()">Next</button>
    </div>

    <div class='page-3' *ngIf='currPage == 2'>
        <div class='title'>
            Preview
        </div>

        <div class='preview-card'>
            <div class='img light-dark-bg'>
                <img [src]="finalImageUrls[0]" />
                <div class='img-icons'>
                    <!--<ion-icon *ngIf="" class='yt-icon' name="logo-youtube"></ion-icon>-->
                    <ion-icon *ngIf="finalImageUrls.length > 1" name="images"></ion-icon>
                </div>
            </div>
            <div class='custom-padding light-dark-bg'>
                <div class='name'>{{ mapData.title }}</div>
                <div class='creator'>By <span class='creator-name'>{{ mapData.creator }}</span></div>
                <div class='desc'>{{ mapData.desc }}</div>
                <div class='type-wrapper'>
                    <div class="type" *ngFor='let type of addedTypes'> {{ type }}</div>
                </div>
            </div>
        </div>

        <div class='submit-text'>
            Maps are manually reviewed before being added, this may take up to 2 days
        </div>
        <ion-grid class='button-grid'>
            <ion-row>
                <ion-col col-6>
                    <button color='fg-color' ion-button round block (click)="lastPage()">Back</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button round block (click)="sendMap()">Submit</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>