page-search-results {
    
    .error-loading {
        padding-top: 50%;
        text-align: center;

        ion-icon {
            font-size: 60px;
        }
        .error-text {
            font-size: 17px;
            padding-top: 8px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    
    .search-results-num {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .searching-indicator {
        padding-left: 0px;
    }
    
    .maps-list {
        .relative {
            position: relative;
        }
        .abs-icon {
            color: #ffffff;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .img {
            width: 100%;
            max-height: 100%;
            height: inherit !important;
            border-radius: 7px;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .author {
            font-size: 12px;
            padding-top: 2px;
            color: darkgray;
        }
        .desc {
            font-size: 13px;
        }
        .type-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .type {
            padding: 4px;
            margin-right: 4px;
            margin-top: 5px;
            align-items: flex-start;
            font-size: 13px;
            background-color: lightgray;
            border-radius: 2px;
        }
        .code {
            padding-top: 5px;
            font-size: 15px;
            font-weight: bold;
            color: map-get($colors, primary);
        }
        .desc {
            padding-top: 5px;
            font-size: 12.7px;
            font-weight: 500;
        }
    }
}