page-search-results {
    .error-loading {
        padding-top: 50%;
        text-align: center;
        .error-text {
            font-size: 17px;
            padding-bottom: 8px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .header-wrapper {
        padding: 15px;
        color: #535353
    }
    .searching-indicator {
        padding-left: 0px;
    }
}