page-search-results {
    .search-results-num {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .searching-indicator {
        padding-left: 0px;
    }
    .no-results-indicator {}
}