<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button *ngIf="!toggled" ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
        <!-- Title -->
        <img *ngIf="!toggled" src="/assets/imgs/header-logo.png" width="180px" style="display:inline-block" height="40px" />
        <!-- Search Bar -->
        <ion-searchbar #searchbar *ngIf="toggled" placeholder="Search Creative Finder" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch();" (ionBlur)="searchBlurred();" (search)="searchQuery($event)"></ion-searchbar>
        <!-- Search Icon -->
        <ion-buttons end *ngIf="!toggled">
            <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-item no-lines class='option-container'>

            <!-- First select -->
            <ion-select class='left-option' (ngModelChange)="getMaps($event, type)" [(ngModel)]="pop" interface="popover">
                <ion-option *ngFor="let item of pubFilters">{{ item }}</ion-option>
            </ion-select>

            <!-- Second select -->
            <ion-select class='right-option' (ngModelChange)="getMaps(pop, $event)" [(ngModel)]="type" interface="popover">
                <ion-option *ngFor="let item of typeFilters ">{{ item }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-toolbar>
</ion-header>



<ion-content class='content'>
    <ion-refresher (ionRefresh)="refresh($event)" spinner="none">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-spinner name="crescent" *ngIf="showLoading"></ion-spinner>

    <ion-list class='maps-list' [hidden]="showLoading" [approxItemHeight]="'75px'" [virtualScroll]="maps.length ? maps : []">
        <ion-item (click)="mapClicked(map, 'True')" *virtualItem="let map">
            <ion-grid>
                <ion-row>
                    <ion-col col-5>
                        <div class='relative'>
                            <img class="img" defaultImage="assets/imgs/default-image.png" errorImage="http://cgrob10.pythonanywhere.com/static/template-img.jpg" [lazyLoad]="map.img" [scrollObservable]="loadAndScroll" offset="2000" />
                            <ion-icon *ngIf="map.imgs.length > 1" class='abs-icon' name="images"></ion-icon>
                        </div>

                    </ion-col>
                    <ion-col col-7>
                        <div class="title" text-wrap>{{ map.name }}</div>
                        <div class="author">{{ map.creator }}</div>
                        <div class='type-wrapper'>
                            <div class="type" *ngFor='let type of map.typesToShow.slice(0,3)'> {{ type }}</div>
                        </div>
                        <div class="desc" text-wrap>{{ map.desc }}</div>
                        <div class="code">{{ map.code }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>