page-explore {
    .content {
        background-color: #F5F5F5;
    }
    ion-spinner {
        display: block;
        margin: auto;
        padding-top: 200px;
    }
    .option-container {
        position: relative;
        font-size: 15px;
        .left-option {
            position: absolute;
            left: 10vw;
        }
        .right-option {
            position: absolute;
            right: 15vw;
        }
    }
    .maps-list {
        .img {
            width: 100%;
            max-height: 100%;
            height: inherit !important;
            border-radius: 7px;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .author {
            font-size: 12px;
            padding-top: 2px;
            color: darkgray;
        }
        .desc {
            font-size: 13px;
        }
        .type {
            padding: 4px;
            margin-top: 5px;
            display: inline-block;
            font-size: 13px;
            background-color: lightgray;
            border-radius: 2px;
        }
        .code {
            padding-top: 5px;
            font-size: 15px;
            font-weight: bold;
            color: map-get($colors, primary);
        }
    }
}